@import url(https://fonts.googleapis.com/css?family=Leckerli+One);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@media only screen and (max-width: 800px)
{
	footer
	{
		display: none;
	}
}

body
{
	font-family: 'Open Sans', sans-serif;
	background-image: url('images/background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}

h1
{
	font-size: 100px;
}

h2
{
	font-size: 45px;
	margin-block-start: 0em;
	margin-block-end: 0em;
	margin-bottom: 10px;
}

h1, h2, p
{
	font-family: 'Leckerli One', cursive;
}

#socials
{
	display: flex;
	justify-content: center;
}

#linkedin, #insta, #git
{
	max-width: 40px;
	max-height: 40px;
	border-radius: 45%;
}

#linkedin
{
	margin-left: 10px;
	margin-right: 10px;
}

h2, p
{
	position:relative;
	text-align: center;
}

header
{
	display: flex;
	justify-content: center;
}

#bodynav
{
	height: 67%;
	border-radius: 0px;
	width: 10%;
	position: fixed;
	left: 0px;
}	

nav
{
	font-family: 'Leckerli One', cursive;
	font-size: medium;
}

#bodynav div 
{
	text-decoration: none;
	background: black;
}

#bodynav div a
{
	color: white;
	display: inline-block;
	width: 100%;
	height: 35px;
	padding-top: 35px;
	padding-bottom: 20px;
	text-align: center;
	text-decoration: none;
}

#bodynav div a:hover
{
	color: black;
	background: white;
}

#profilepic 
{
	display: block;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border-radius: 100px;
}

#aboutmepic
{
	display: block;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	border-radius: 100px;
}

.img-gallery
{
	display: block;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border-radius: 0px;
}

#gallerycontent p
{
	width: 20%;
	left: 40%;
	background: black;
	color: white;
	border-radius: 13px;
	font-size: 20px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 
			Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

form
{
	width:600px;
	margin:30px auto;
	padding:100px;
	border:3px #111 solid;
	background:black;
	color: white;
}

form ul
{
	list-style: none;
	margin: 10 auto;
}

form label
{
	float:left;
	width:150px;
	text-align:right;
}

form footer
{
	margin:5px auto;
	clear:both;
	text-align: center;
}

form input[type=submit]
{
	margin:0px auto;
}

input:focus, select:focus, textarea:focus
{
	background:black;
	color:white;
}

button
{
	position: relative;
	justify-content: center;
	left: 9.9vw;
}

#body-header-content
{
	width: 60%;
	margin: 10vw auto;
	margin-top: 0px;
	padding: 5vw;
	padding-top: 0px;
}

#body-header-content h2
{
	color: black;
	text-align: center;
}

footer {
	position: fixed;
	left: 45%;
	bottom: 0px;
	width: 10%;
	text-align: center;
	color: white;
	border: 1px solid white;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	/*Gradient effect*/
	background: black;
	font-size: 1.2vw;
	color: white;
}

li a
{
	text-decoration: none;
	color: white;
}

li a:hover
{
	color: red;
}

